<h1>What's your favourite github lanugage?</h1>

<%= form_tag("/pages/result", method: "get") do %>
  <%= label_tag(:username, "Enter your Github username:") %>
  <%= text_field_tag(:username) %>
  <%= submit_tag("Submit") %>
<% end %>
